---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Cards_list from "../components/Cards-list.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import WhyUs from "../components/Why-us.astro";
import Gallery from "../components/Gallery.astro";
import Content from "../components/Content.astro";
import Content2 from "../components/Content2.astro";
import Content3 from "../components/Content3.astro";
---

<Layout title="ثيم رؤية سلة ✨">
  <main class="container px-6">
    <Header />
    <Hero />
    <WhyUs />
    <Cards_list />
    <Gallery />
    <Content />
    <Content2 />
    <Content3 />
  </main>
</Layout>
