---
interface Props {
  title: string;
  paragraph: string;
  src: string;
}

const { title, paragraph, src } = Astro.props;
---

<div
  class="flex flex-col items-center gap-4 rounded-3xl bg-[#0D0D0D] bg-opacity-40 px-6 py-10"
>
  <lord-icon
    src={src}
    trigger="loop"
    delay="1000"
    colors="primary:#9452D8"
    style="width:150px;height:150px"
  >
  </lord-icon>
  <div class="content flex flex-col items-center gap-2 text-center">
    <h1 class="text-2xl font-bold md:text-3xl">{title}</h1>
    <p class="text-[#F2F0FF]">{paragraph}</p>
  </div>
</div>
