---
import Card from "../components/Card.astro";
---

<div class="mt-4 grid grid-cols-1 gap-8 md:mt-10 md:grid-cols-3">
  <Card
    title="تحديثات مستمرة"
    paragraph="يتم تحديث ثيم رؤية بأستمرار لإضافة المزيد من المميزات والخيارات."
    src="https://cdn.lordicon.com/ogkflacg.json"
  />
  <Card
    title="مكونات عديدة"
    paragraph="يتضمن ثيم رؤية مجموعة واسعة من المكونات التي يمكنك استخدامها لعرض منتجاتك"
    src="https://cdn.lordicon.com/jgnvfzqg.json"
  />
  <Card
    title="دعم فني متواجد طوال اليوم"
    paragraph="فريق دعم فني متاح لمساعدتك على حل أي مشكلة أو استفسار تواجهه في أي وقت من اليوم."
    src="https://cdn.lordicon.com/pyoiumqr.json"
  />
  <Card
    title="تخصيص أضافي مجاني"
    paragraph="نوفر لمشترين ثيم رؤية تخصيص أضافي بقيمة 200 ريال مجانا لجعل تصميم متجرك يبدو بالضبط كما تريد."
    src="https://cdn.lordicon.com/eodeknny.json"
  />

  <Card
    title="تصميم مُميز"
    paragraph="تصميم احترافي, حديث ومميز مصمم لك ولنمو متجرك خصيصاً."
    src="https://cdn.lordicon.com/sbrtyqxj.json"
  />

  <Card
    title="التوافق مع أجهزة الجوال"
    paragraph=" ثيم رؤية متوافق بالكامل مع أجهزة الجوال، مما يعني أن متجرك الإلكتروني سيبدو رائعًا على جميع الأجهزة، بما في ذلك الهواتف الذكية والأجهزة اللوحية."
    src="https://cdn.lordicon.com/wvdxdmpi.json"
  />
  <Card
    title="خيارات عديدة لتخصيص"
    paragraph="يوفر ثيم رؤية اكثر من 80 خيار لتخصيص تصميم المتجر الألكتروني بما في ذلك خيارات لتغييرالألوان, والخطوط, والشعار, وتخطيط الموقع, وغيرها الكثير."
    src="https://cdn.lordicon.com/ifsxxxte.json"
  />
</div>
