<div
  class="content mb-32 mt-16 flex flex-col-reverse gap-4 text-center md:mt-32 md:flex-row md:gap-8 md:text-right"
>
  <div
    class="flex basis-1/2 flex-col items-center justify-center gap-4 md:items-start md:gap-8"
  >
    <h1 class="text-3xl font-bold md:text-4xl">
      جاهز لتصميم متجرك وزيادة مبيعاتك ؟
    </h1>
    <button
      class="w-fit rounded-[40px] bg-white px-9 py-6 text-lg font-bold text-black"
      >اشتري الآن</button
    >
  </div>
  <div class="basis-1/2">
    <img
      class="rounded-3xl object-cover"
      src="/vision-landing/assets/images/image-container.png"
      alt="theme image"
    />
  </div>
</div>
