<div class="mt-16 flex gap-8 md:mt-32">
  <div class="basis-1/2 bg-white"></div>
  <div class="flex basis-1/2 flex-col gap-4">
    <h1 class="text-4xl font-bold">تصميم إضافي مجاني</h1>
    <p class="text-lg">
      حاب تعدل عالتصميم أكثر وتضيف لمساتك الخاصة نصمم متجرك برمجة بقيمة 200 ريال
      مجانا وحصريًا لعملاء رؤية ✨
    </p>
  </div>
</div>
