<div class="mt-16 flex flex-col items-center gap-16 md:mt-32">
  <h1 class="text-center text-3xl font-bold md:text-4xl">
    ุงุจุฏุง ุจุชูุนูู ุซูู ุฑุคูุฉ ุจุซูุงุซ ุฎุทูุงุช ุจุณูุทุฉ ๐
  </h1>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
    <div class="flex flex-col items-center gap-2 p-4 text-center">
      <lord-icon
        src="https://cdn.lordicon.com/mqdkoaef.json"
        trigger="loop"
        colors="primary:#9452D8"
        delay="1000"
        class="h-[100px] w-[100px] md:h-[150px] md:w-[150px]"
      >
      </lord-icon>
      <h1 class="text-2xl font-bold md:text-3xl">ุงูุฐูุงุจ ุงูู ูุชุฌุฑ ุงูุซููุงุช</h1>
      <p class="text-base md:text-lg">
        ูู ุฎูุงู ููุญุฉ ุชุญูู ูุชุฌุฑู ุงุถุบุท ุนูู ุชุตููู ุงููุชุฌุฑ ุซู ุงุจุญุซ ุจุฃุณู ุฑุคูุฉ
      </p>
    </div>

    <div class="flex flex-col items-center gap-2 p-4 text-center">
      <lord-icon
        src="https://cdn.lordicon.com/xuyycdjx.json"
        trigger="loop"
        colors="primary:#9452D8"
        delay="1000"
        class="h-[100px] w-[100px] md:h-[150px] md:w-[150px]"
      >
      </lord-icon>
      <h1 class="text-2xl font-bold md:text-3xl">ุงูุฏูุน</h1>
      <p class="text-base md:text-lg">ุงุฏูุน ุจุงูุทุฑููุฉ ุงูุชู ุชูุงุณุจู.</p>
    </div>

    <div class="flex flex-col items-center gap-2 p-4 text-center">
      <lord-icon
        src="https://cdn.lordicon.com/jgnvfzqg.json"
        trigger="loop"
        colors="primary:#9452D8"
        delay="1000"
        class="h-[100px] w-[100px] md:h-[150px] md:w-[150px]"
      >
      </lord-icon>
      <h1 class="text-2xl font-bold md:text-3xl">ุงุณุชูุชุน ุจุชุฎุตูุต ูุชุฌุฑู</h1>
      <p class="text-base md:text-lg">ุฎุตุต ูุตูู ูุชุฌุฑู ุจุงูุทุฑููุฉ ุงูุชู ุชุฑูุฏูุง โจ</p>
    </div>
  </div>
</div>
