<div class="mb-8 mt-16 flex flex-col items-center gap-4 md:mt-32">
  <h1 class="text-3xl font-bold md:text-4xl">مكونات ثيم رؤية المميزة ✨</h1>
  <p class="text-center text-base text-[#F2F0FF] md:text-lg">
    اكثر من 20 مكون مميز لعرض منتجاتك بالطريقة التي تريدها
  </p>
</div>
<div
  class="grid grid-cols-4 items-center gap-4 md:grid-cols-12 md:grid-rows-2 md:gap-10"
>
  <img
    class="col-span-2 md:col-span-3"
    src="./assets/images/image-container.png"
    alt="theme image"
  />
  <img
    class="col-span-2 md:col-span-6 md:row-span-2"
    src="./assets/images/image-container.png"
    alt="theme image"
  />
  <img
    class="col-span-4 md:col-span-3"
    src="./assets/images/image-container.png"
    alt="theme image"
  />
  <img
    class="col-span-2 md:col-span-3"
    src="./assets/images/image-container.png"
    alt="theme image"
  />
  <img
    class="col-span-2 md:col-span-3"
    src="./assets/images/image-container.png"
    alt="theme image"
  />
</div>
