<div class="hidden flex-col items-center gap-4 md:flex">
  <img class="w-[80px]" src="/assets/images/white-black-matte.png" alt="logo" />
  <ul class="flex gap-4 text-lg">
    <li>الرئيسية</li>
    <li>حول</li>
    <li>تواصل</li>
  </ul>
</div>
