<div class="hidden flex-col items-center gap-4 md:flex">
  <a href="/vision-landing">
    <img
      class="w-[80px]"
      src="/vision-landing/assets/images/white-black-matte-min.png"
      alt="logo"
    />
  </a>
  <ul class="flex gap-4 text-lg">
    <li><a href="/vision-landing">الرئيسية</a></li>
    <li>
      <a
        href="https://linktr.ee/visiontheme"
        onclick="snaptr('track','ADD_CART')">تواصل</a
      >
    </li>
  </ul>
</div>
