<div class="flex flex-col items-center gap-4 pt-10" id="why-us">
  <h1 class="text-3xl font-bold md:text-4xl">لماذا ثيم رؤية ؟</h1>
  <p>
    ثيم رؤية هو خيار مثالي لمتجرك الإلكتروني، حيث يوفر مجموعة واسعة من المزايا
    التي لا غنى عنها لنجاح متجرك الإلكتروني. سواء كنت مبتدئًا أو تمتلك خبرة في
    مجال التجارة الإلكترونية، فإن ثيم رؤية يضمن لك تجربة سلسة وفعالة في إنشاء
    متجر إلكتروني متميز هذه بعض ميزات ثيم رؤية ✨ .
  </p>
</div>
